name: Check latest posts

on:
  workflow_dispatch: # manual trig button
  schedule:
    - cron: '52 9,21 * * *' # twice a day

jobs:
  build:
    name: Check latest update
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'

      - run: pip install -r requirements.txt

      - run: ./check-new-yorker.py || true
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

      - run: ./check-agp.py || true
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

      - run: ./check-compose-compiler.py || true
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

      - run: ./check-esht.py || true
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

      - run: ./check-nvidia-notebook.py || true
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

      - run: ./check-flutter-posts.py || true
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

      - run: ./check-flutter-release.py || true
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

      - name: Add and commit the report
        uses: EndBug/add-and-commit@50e9817f158f0e2a915d93970456b8998db76a37
        with:
          default_author: github_actions
          message: 'Update latest posts'
          add: new-yorker-latest-post agp-version compose-version new-esht new-flutter-blog-posts new-nvidia-notebook new-flutter-release
